.Container {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

@media only screen and (max-width: 900px) {
    .Container {
        height: 100vh;
    }
}