.Btn {
    border: none;
    outline: none;
}

.Search {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #226CE0;
    color: white;
    cursor: pointer;
    border-radius: .3rem;
}